# fly.toml app configuration file generated for E-Commerce-API

app = "ecommerce-api-demo" # Fly.io will prompt you to change this or keep it during `fly launch`
primary_region = "iad"

[build]
  dockerfile = "Dockerfile"

[env]
  FLASK_ENV = "production"
  PORT = "5000"
  # Optional: Define your CORS origins here or leave empty to allow all (depending on your settings logic)
  # CORS_ORIGINS = "https://your-frontend-domain.com"

[http_service]
  internal_port = 5000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[deploy]
  # This runs your database migrations before swapping traffic to the new instances!
  release_command = "bash scripts/setup_db.sh"

[[http_service.checks]]
  grace_period = "10s"
  interval = "30s"
  method = "GET"
  timeout = "5s"
  path = "/api/v1/health"
